#header { background-image: url(../images/slider-1.png);height: 768px }
li {color: azure;}
a {color: azure;}
h1 {    width: 554px;
    height: 115px;
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 101px;
    margin-right: 711px;}